<div class="text-center">

  <div id='existing-post-box'>
    <h2>{{title}}</h2>
    <p>Created by {{user.username}} on {{format_date date_created}}</p>
    <p>{{content}}</p>
  </div>

  <div id='comment-box'>
    <p>Comment:</p>
    <textarea id='new-comment' placeholder="Leave a Comment!"></textarea>
    <p>
      <button class="btn btn-primary" id="comment-btn">Submit</button>
    </p>
  </div>

</div>

<br>

{{#each comments as |comment|}}
<div>
  {{comment.user.username}}
<div>
  <blockquote>{{comment.comment}}</blockquote>
</div>
</div>


      {{/each}}
    </div>
</div>

<script src="/js/comment.js"></script>
<script src="/utils/helpers.js"></script>