<div class="text-center">

  <div id='existing-post-box'>
    <h2>{{title}}</h2>
    <p>Created by {{user.username}} on {{format_date date_created}}</p>
    <p>{{content}}</p>
  </div>

  <div id='comment-box'>
    <p>Comment:</p>
    <textarea id='comment' placeholder="Leave a Comment!"></textarea>
    <p>
      <button class="btn btn-primary" id="comment-btn">Submit</button>
    </p>
  </div>

</div>

<br>

{{#if comments.length}}
<div class="col-md-6 comment-list">
  <h3>Comments:</h3>

  {{#each comments as |comment|}}
  <div class="row mb-2">
    <div class="col-md-8">
      <h5>{{comment.user.username}}</h5>
    </div>
    <div>
      <blockquote >{{comment.comment}}</blockquote>
    </div>
    <div class="col-md-4">
      <button class="btn btn-sm btn-danger delete-btn" data-id="{{comment.id}}">DELETE</button>
      <button class="btn btn-sm btn-info edit-btn" data-id="{{comment.id}}" data-value='{{comment.comment}}'>EDIT</button>
    </div>
  {{/each}}
</div>
{{/if}}

<script src="/js/comment.js"></script>
<script src="/utils/helpers.js"></script>